*{
    margin:0;
    padding:0;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: #A4BEF3;
}
.container{
    background-color: #f4d1dd;
    padding:1.5rem;
    border-radius: 0.5rem;
    min-height:45vh;
    min-width: 35vw;
}
form{
    margin:2rem 0rem 1rem 0rem;
}
form input,select,button{
    margin-top: 5px;
    width:100%;
    height:2rem;
    padding-left:5px;
    border:none;
    outline: none;
    font-size: 1rem;
}
form input{
    border:1px solid lightgray;
    border-radius: 5px;
}

.dropdown{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:2rem 0rem 2rem 0rem;
}
.msg{
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}
button{
    background-color: white;
    border-radius: 5px;
    font-size: 1.2rem;
}
p{
    font-size: 1.4rem;
}
